<a href="https://colab.research.google.com/github/Pritam-Mondal18/Machine-Learning-yt/blob/main/Pandas_phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [#] Pandas
## Use case of pandas
### 1. Data Cleaning
### 2. Data Analysis
### 3. Data Transformation
### 4. Data Visualization (Basic Level)
### 5. Data Aggregation
### 6. File Handling
### 7. Data Filtering & Selection
### 8. Time Series Analysis

# Pandas Series

A series is a one-dimantional labeled array capable of holding any data type.The axis labels are collectivly called the index.

## Creating Series
### There are multiple ways to create a pandas series:

In [91]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a','b','c'] # labels are nothing but index
my_list = [10,20,30]
arr = np.array([10,20,30,40])
d = {1:20, 2:30, 3:40}

In [ ]:
# Series using list
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
# change the series index/labels
pd.Series(my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
# Create Series using Array
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# create Series using Dictinary
# We use by default index which are maintioned in the dictinaty
pd.Series(d)

1    20
2    30
3    40
dtype: int64

# [#] DataFrame : DataFrame is nothig but it's a combination of Series.
## 1. Creating a DataFrame
## 2. Selection and Indexing a coloumns
## 3. Creating a new column
## 4. Removing column
## 5. Selecting Rows
## 6. Selecting Subsets of Rows and Columns
## 7. Conditional Section

# {####}For the Creation of Data Frame we can create it only by the dictinory and list.

In [ ]:
# Creating a DataFrame using Dictinory
data = {
    'Name' : ['John','Anna','Peter','Linda'],
    'Age' : [28.34,29,42],
    'City' : ['New York', 'Paris','Berlin','London'],
    'Salary': [65000,70000,62000,85000]
}

In [ ]:
data = {
    'Name' : ['John','Anna','Peter','Linda'],
    'Age' : [28,29,42,35], # Added a fourth age to match the length of other lists
    'City' : ['New York', 'Paris','Berlin','London'],
    'Salary': [65000,70000,62000,85000]
}
df = pd.DataFrame(data)
print(df)

    Name  Age      City  Salary
0   John   28  New York   65000
1   Anna   29     Paris   70000
2  Peter   42    Berlin   62000
3  Linda   35    London   85000

In [93]:
# Creating a DataFrame using List
data_list = [
    ['John',28,'New York',65000],
    ['Anna',29,'Paris',70000],
    ['Peter',42,'Berlin',62000],
    ['Linda',35,'London',85000]
]

In [92]:
df2 = pd.DataFrame(data_list)
col = ['Name','Age','City','Salary']
df3 = pd.DataFrame(data_list,columns=col)
print(df3)

    Name  Age      City  Salary
0   John   28  New York   65000
1   Anna   29     Paris   70000
2  Peter   42    Berlin   62000
3  Linda   35    London   85000

# Selection and indexing of colums

In [99]:
df3[['Name',
    'Age']]

    Name  Age
0   John   28
1   Anna   29
2  Peter   42
3  Linda   35

In [101]:
# 20:00